<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-expand-lg navbar-light bg-dark navbar navbar-inverse navbar-fixed-top">
  <!-- Container wrapper -->
  <div class="Container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
      type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCenteredExample"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse justify-content-left container-fluid-nav"
      id="navbarCenteredExample"
    >
      <!-- Left links -->
      <ul class="navbar-nav  text-center">
        <a class="navbar-brand" href="/" style="color: aliceblue;" ><h4>Fortnite</h4></a>
          <a class="nav-link " href="/" style="color: aliceblue;" ><h7 >News</h7></a>
          <a class="nav-link" href="/ItemShop" style="color: aliceblue;"><h7>ItemShop</h7></a>
          <a class="nav-link" href="/Item (Upcoming)" style="color: aliceblue;"><h7>Items (Upcoming)</h7></a>
          <a class="nav-link" href="/ItemSeach" style="color: aliceblue;"><h7>ItemSeach</h7></a>
          <a class="nav-link" href="/about" style="color: aliceblue;"><h7>About Us</h7></a>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
</body>