{% extends 'base_layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<style>
        body{
            background-color: white;
        }
        table {
            background-color: white;
            text-align: left;
        }
        h1{
            font-size: 50px;
            color:rgb(212, 131, 24);
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>-->
</head>

<body>
   <!-- <div align="center">
    <br>
    <h1> รายชื่อสมาชิกภายในกลุ่ม</h1>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table class="table table-bordered border-primary ">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Student ID</th>
                        <th>Picture</th>
                    </tr>
                    {% for i in members %}
                        <tr>
                            
                            <td>{{i.name}}</td>
                            <td>{{i.surname}}</td>
                            <td>{{i.sec_id}}</td>
                            <td><img src="{{i.picture}}" alt="{{i.picture}}" height="150" ></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>-->
    
    <div align="center">
        <br>
        <h1 style="color: rgb(212, 131, 24);"> รายชื่อสมาชิกภายในกลุ่ม</h1>
        <div class="touch">
                <div class="row">
                    {% for i in members %}
                        <div class="col-md-4 py-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 px-2" >
                                            <img src="{{i.picture}}" alt="{{i.picture}}" class="" style="height: 350px;;width: 280px">
                                            <br>
                                            <br>
                                            <p>{{i.name}} {{i.surname}}</p>
                                            <p>{{i.sec_id}}</p>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}    
                </div>
                    
        </div>
    </div>  
</body>

</html>
{% endblock %}