{% extends 'base_layout.html' %}

{% block body %}
      <br>
      {% for i in x %}
      <div class="col-sm-12 mt-1 touch" >
            <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="card col-sm-10" style="background-color: rgb(255, 255, 255);">
                        <div class="card-body ">
                              <img class="card-img-top" src="{{i.img}}" alt="It Wasn't Me">
                              <div class=" col-sm-12" style="color: rgb(0, 0, 0);">
                                    <br>
                                    <h5 class="">{{i.title}}</h4>
                                    <p class="">{{i.body }}</p>
                                    <p class="">Platform : {{i.platform }}</p>
                                    <br>
                              </div>
                        </div>
                  </div>
                  
            </div>
      </div>
{% endfor %}
{% endblock %}
